sudo: required
services:
        - docker
before_install:
        - docker build -t houssem/docker-react -f Dockerfile.dev .
script:
        - docker run -e CI=true houssem/docker-react npm run test -- --coverage
deploy:
        provider: elasticbeanstalk
        region: "us-east-2"
        app: "DockerReact"
        env: "DockerReact-env"
        bucket_name: "elasticbeanstalk-us-east-2-518268222591"
        bucket_path: "DockerReact"
        on:
                branch: master
        access_key_id: "$ACCESS_KEY_ID"
        secret_access_key:
                secure: "$SECRET_ACCESS_KEY"
